@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Antikor Text";
  src: url("./fonts/AntikorText-Regular.woff2") format("woff2"),
    url("./fonts/AntikorText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* body {
  font-family: "Antikor Text", sans-serif;
} */
body {
  font-family: monospace;
}
.testimonial-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.testimonial-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.white-icon {
  filter: brightness(0) invert(1);
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.bloc {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
