@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Antikor Text";
  src: url("./fonts/AntikorText-Regular.woff2") format("woff2"),
    url("./fonts/AntikorText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Antikor Text", sans-serif;
}
/* .scroll-container {
  scroll-snap-type: x mandatory;
}

.testimonial-card {
  scroll-snap-align: start;
} */
.testimonial-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.testimonial-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
